input {
    border : 1px solid lightgrey;
    margin: 1px;
    padding: 2px;
}
.header{
    width: 49%;
    float: left;
}
#headerlink{
    width: 110px;
    background: #fafafa;
}
a{
    display: block;
    text-decoration: none;
    width: 110px;
}
#check {
    width: 200px;
    text-align: center;
    background: #fafafa;
}
#trueCounter, #falseCounter {
    width: 50%;
    border: 0px;
    margin: 0;
}
#trueCounter {
    float: left;
}
#falseCounter {
    float: right;
    text-align: right;
}
#checkedtext, #checkedtranslate {
    height: 30px;
}
#true, #false{
    width: 49%;
    height: 30px;
}
#true{
    float: left;
}
#false{
    float: right;
}
