*{
    margin: 0;
}
body{
    font-family: Arial;
    margin-top: -5px;
}
header, footer{
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    background: darkgrey;

}
header{
    margin: 0;
    /*padding: 5px;*/
}
footer{
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
}
#header{
    margin-bottom: 5px;
    padding: 15px;
}
#logo{
    width: 49%;
    float: left;
}
#headerlink{
    width: 49%;
    float: right;
    text-align: right;
}
a{
    display: block;
    text-decoration: none;
}
.page{
    margin-top: 5px;
}
#content-wrapper{
    margin: 0 auto;
}
#check {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    background: #fafafa;
}
form{
    pading: 0;
}
input {
    border : 1px solid lightgrey;
    margin: 1px;
    font-size: 1rem;
}
#trueCounter, #falseCounter {
    width: 50%;
    border: 0px;
    margin: 0;
}
#trueCounter {
    float: left;
    background: rgba(0, 255, 0, .2);
}
#falseCounter {
    float: right;
    text-align: right;
    background: rgba(255, 0, 0, .2);
}
#checkedtext, #checkedtranslate {
    height: 30px;
    text-align: center;
}
#true, #false{
    width: 49%;
    height: 30px;
}
#true{
    float: left;
}
#false{
    float: right;
}
